<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="notoro framework">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app</directory>
            <directory suffix=".php">config</directory>
            <directory suffix=".php">routes</directory>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">tests</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>